### Sanitary Test

In [1]:
print('Hello World')

Hello World

### Data Types

In [1]:
def seprator():
    print("=================================")

x=10
print(type(x))
seprator()

y=7.8
print(type(y))
seprator()

z='Devang'
print(type(z))
seprator()

a=[1,3,4]
print(type(a))
seprator()

b=(2,5,6)
print(type(b))
seprator()

c={'birth':1,'day':'Mon'}
print(type(c))
seprator()

d={'akku', 'geet','alexa'}
print(type(d))
seprator()

<class 'int'>
=================================
<class 'float'>
=================================
<class 'str'>
=================================
<class 'list'>
=================================
<class 'tuple'>
=================================
<class 'dict'>
=================================
<class 'set'>
=================================

### List Operations

In [2]:
def sep():
    print("==================================================================")

mylist= ['Aakanxa','Dravid','Virat','Dhoni','Shubhman']

print (mylist[1])
sep()

print(len(mylist))
sep()

mylist[3] = 'Harshal'
print(mylist)
sep()

if "Aakanxa" in mylist:
    print ("True")

Dravid
==================================================================
5
==================================================================
['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
==================================================================
True

### Slicing

In [3]:
mylist= ['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
print (mylist[1:3])

['Dravid', 'Virat']

### Append

In [4]:
mylist= ['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
mylist.append('Dhoni')
print(mylist)

['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman', 'Dhoni']

# Insert

In [17]:
mylist.insert(2,"isaac")
mylist.insert(3,"Yuvraj")
print(mylist)

['Aakanxa', 'Dravid', 'isaac', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Harshal', 'Yuvraj', 'Virat', 'Harshal', 'Shubhman', 'Dhoni']

### Extend

In [7]:
mylist1=['FoP','FoF','ITTS']
mylist2=['PFM','SDA','EDA']
mylist1.extend(mylist2)
print(mylist1)

['FoP', 'FoF', 'ITTS', 'PFM', 'SDA', 'EDA']

### PoP

In [3]:
mylist=['FoP', 'FoF', 'ITTS', 'PFM', 'SDA', 'EDA']
mylist.pop()
print(mylist)

['FoP', 'FoF', 'ITTS', 'PFM', 'SDA']

### Remove

In [10]:
mylist=['FoP', 'FoF', 'ITTS', 'PFM', 'SDA', 'EDA']
mylist.remove('ITTS')
print(mylist)

['FoP', 'FoF', 'PFM', 'SDA', 'EDA']

### Clear

In [18]:
mylist=['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
mylist.clear()
print(mylist)

[]

### Count

In [20]:
mylist= ['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
print(mylist.count('Yuvraj'))

0

### Reverse

In [21]:
mylist= ['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
mylist.reverse()
print(mylist)

['Shubhman', 'Harshal', 'Virat', 'Dravid', 'Aakanxa']

### Sort

In [22]:
my_list=['Aakanxa', 'Dravid', 'Virat', 'Harshal', 'Shubhman']
my_list.sort()
print(my_list)
my_list.sort(reverse= True)
print(my_list)

['Aakanxa', 'Dravid', 'Harshal', 'Shubhman', 'Virat']
['Virat', 'Shubhman', 'Harshal', 'Dravid', 'Aakanxa']

## Dictionary

In [23]:
mydict={'filmtype':"Hollywood", 'name':"Captain America", 'hero':"Chris Evans"}
print(mydict['name'])
print(mydict.get('hero'))

Captain America
Chris Evans

### Keys

In [24]:
mydict={'filmtype':"Hollywood", 'name':"Captain America", 'hero':"Chris Evans"}
print(mydict.keys())

dict_keys(['filmtype', 'name', 'hero'])

### Values

In [25]:
mydict={'filmtype':"Hollywood", 'name':"Captain America", 'hero':"Chris Evans"}
print(mydict.values())

dict_values(['Hollywood', 'Captain America', 'Chris Evans'])

### Items

In [26]:
mydict={'filmtype':"Hollywood", 'name':"Captain America", 'hero':"Chris Evans"}
print(mydict.items())

dict_items([('filmtype', 'Hollywood'), ('name', 'Captain America'), ('hero', 'Chris Evans')])

## Operators

### Arithmatic Operator

In [29]:
# Addition
add = 5 + 3

# Subtraction
sub = 10 - 4

# Multiplication
mul = 6 * 7

# Division
div = 15 / 3  # Result will be a floating-point number

# Floor Division
fd = 15 // 4  # Result will be an integer (floor division)

# Modulo (Remainder)
md = 17 % 4

# Exponentiation
x = 2 ** 4  # 2 raised to the power of 4

print('Addition:', add)
print('subtraction:',sub)
print('multiplication:',mul)
print('division:',div)
print('floor division:',fd)
print('modulo:',md)
print('exponentiation:',x)

Addition: 8
subtraction: 6
multiplication: 42
division: 5.0
floor division: 3
modulo: 1
exponentiation: 16

### Logical Operator

In [30]:
x = True
y = False
z = True

#and operator
result = x and y
print(result)  

#or operator
result = x or y
print(result) 

#not operator
result = not x
print(result)  

result = (x and y) or z
print(result)

False
True
False
True

### Identity Operator

In [31]:
#is and isnot

list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 is list2) 
print(list1 is not list2)

False
True

### Member Operator

In [37]:
#in, not in
fruits = ["apple", "banana", "cherry", "date"]
search_fruit = "banana"

if search_fruit in fruits:
    print(f"{search_fruit} is in the list.")
else:
    print(f"{search_fruit} is not in the list.")

banana is in the list.

### Conditional Operator

In [28]:
#if,elif and else
name=input("Name of Student: ")
Book=input("Book Name: ")
Author=input("Author Name: ")
x=int(input('Day Count: '))

if x<=15:
    print('Fine amount: Rs 0')
elif x>15 and x<=22:
    print('Fine amount: Rs',(x-15)*2)
elif x>22 and x<=29:
    print('Fine amount: Rs ',14+(x-22)*5)
elif x>29 and x<=59:
    print('Fine amount: Rs ',49+(x-29)*20)
else:
    print('Fine amount: Rs ',649+(x-59)*100)

Name of Student: Aakanxa Yadav
Book Name: business statistics
Author Name: N D VOHRA
Day Count: 100
Fine amount: Rs  4749

### For Loop

In [29]:
mylist= ['Yuvraj', 'Dravid', 'Virat', 'Harshal', 'Shubhman'] 
for list_item in mylist:
    print(list_item)

Yuvraj
Dravid
Virat
Harshal
Shubhman

In [43]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for list_item in mylist:
    print(list_item[1])

2
5
8

In [44]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for x,y,z in mylist:
    print(z)

3
6
9

In [48]:
for list_item in range(7):
    print (list_item)

0
1
2
3
4
5
6

In [8]:
#even number
for x in range(1,50):
    if(x % 2==0):
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [6]:
n=20
for i in range(1,n+1,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### While Loop

In [50]:
x=0
while x<7:
    print(x)
    x+=1

0
1
2
3
4
5
6

### Break

In [54]:
for x in range(9):
    if x==5:
        break
    print(x)

0
1
2
3
4

### Continue

In [55]:
for x in range(9):
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8

In [3]:
for x in range(9):
    if x==5:
        pass
    print(x)

0
1
2
3
4
5
6
7
8

### Function

In [32]:
def sep():
    print("==============================")
    
print('Hello!')
sep()

print('Kem Chho tame?')
sep()

print('ekdum majama! tame kyo?')
sep()

print('bas jem tame em ame!')

Hello!
==============================
Kem Chho tame?
==============================
ekdum majama! tame kyo?
==============================
bas jem tame em ame!